In [6]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

ModuleNotFoundError: No module named 'tensorflow'

In [3]:
df= pd.read_csv('telco.csv')

In [4]:
df.head

<bound method NDFrame.head of      customer_id  gender  is_senior_citizen partner dependents  phone_service  \
0     0002-ORFBO  Female                  0     Yes        Yes              1
1     0003-MKNFE    Male                  0      No         No              2
2     0004-TLHLJ    Male                  0      No         No              1
3     0011-IGKFF    Male                  1     Yes         No              1
4     0013-EXCHZ  Female                  1     Yes         No              1
...          ...     ...                ...     ...        ...            ...
7044  9987-LUTYD  Female                  0      No         No              1
7045  9992-RRAMN    Male                  0     Yes         No              2
7046  9992-UJOEL    Male                  0      No         No              1
7047  9993-LHIEB    Male                  0     Yes        Yes              1
7048  9995-HOTOH    Male                  0     Yes        Yes              0

      internet_service  contract_type      payment_type  monthly_charges  \
0                    1              1      Mailed check            65.60
1                    1              0      Mailed check            59.90
2                    2              0  Electronic check            73.90
3                    2              0  Electronic check            98.00
4                    2              0      Mailed check            83.90
...                ...            ...               ...              ...
7044                 1              1      Mailed check            55.15
7045                 2              0  Electronic check            85.10
7046                 1              0      Mailed check            50.30
7047                 1              2      Mailed check            67.85
7048                 1              2  Electronic check            59.00

      total_charges churn  tenure
0            593.30    No     9.0
1            542.40    No     9.1
2            280.85   Yes     3.8
3           1237.85   Yes    12.6
4            267.40   Yes     3.2
...             ...   ...     ...
7044         742.90    No    13.5
7045        1873.70   Yes    22.0
7046          92.75    No     1.8
7047        4627.65    No    68.2
7048        3707.60    No    62.8

[7049 rows x 13 columns]>

In [7]:
df

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn,tenure
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No,9.0
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No,9.1
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes,3.8
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes,12.6
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,9987-LUTYD,Female,0,No,No,1,1,1,Mailed check,55.15,742.90,No,13.5
7045,9992-RRAMN,Male,0,Yes,No,2,2,0,Electronic check,85.10,1873.70,Yes,22.0
7046,9992-UJOEL,Male,0,No,No,1,1,0,Mailed check,50.30,92.75,No,1.8
7047,9993-LHIEB,Male,0,Yes,Yes,1,1,2,Mailed check,67.85,4627.65,No,68.2
7048,9995-HOTOH,Male,0,Yes,Yes,0,1,2,Electronic check,59.00,3707.60,No,62.8

In [8]:
df.info

<bound method DataFrame.info of      customer_id  gender  is_senior_citizen partner dependents  phone_service  \
0     0002-ORFBO  Female                  0     Yes        Yes              1
1     0003-MKNFE    Male                  0      No         No              2
2     0004-TLHLJ    Male                  0      No         No              1
3     0011-IGKFF    Male                  1     Yes         No              1
4     0013-EXCHZ  Female                  1     Yes         No              1
...          ...     ...                ...     ...        ...            ...
7044  9987-LUTYD  Female                  0      No         No              1
7045  9992-RRAMN    Male                  0     Yes         No              2
7046  9992-UJOEL    Male                  0      No         No              1
7047  9993-LHIEB    Male                  0     Yes        Yes              1
7048  9995-HOTOH    Male                  0     Yes        Yes              0

      internet_service  contract_type      payment_type  monthly_charges  \
0                    1              1      Mailed check            65.60
1                    1              0      Mailed check            59.90
2                    2              0  Electronic check            73.90
3                    2              0  Electronic check            98.00
4                    2              0      Mailed check            83.90
...                ...            ...               ...              ...
7044                 1              1      Mailed check            55.15
7045                 2              0  Electronic check            85.10
7046                 1              0      Mailed check            50.30
7047                 1              2      Mailed check            67.85
7048                 1              2  Electronic check            59.00

      total_charges churn  tenure
0            593.30    No     9.0
1            542.40    No     9.1
2            280.85   Yes     3.8
3           1237.85   Yes    12.6
4            267.40   Yes     3.2
...             ...   ...     ...
7044         742.90    No    13.5
7045        1873.70   Yes    22.0
7046          92.75    No     1.8
7047        4627.65    No    68.2
7048        3707.60    No    62.8

[7049 rows x 13 columns]>

In [9]:
df.groupby('Churn Reason')['CustomerID'].nunique().sort_values(ascending=False)

KeyError: 'Churn Reason'